<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <events>
      <event name="publishingservice:publishend">
        <handler type="Sitecore.Support.Publishing.Service.Events.PublishEndHandler, Sitecore.Support"  patch:instead="*[@type='Sitecore.Publishing.Service.Events.PublishEndHandler, Sitecore.Publishing.Service']" method="TriggerPublishEnd" />
      </event>
    </events>
  </sitecore>
</configuration>